<div class="container">
  <div class="wrapper">
    <div class="header">
      <h1>Welcome to the Hitster generator!</h1>
      <p>
        To use the Hitster generator is very easy, just copy a playlist from
        spotify then press the 'paste' icon and voila, you got yourself some new
        cards.<br />
        If you want to print them out, just press the 'pdf' button and you're
        good to go!
      </p>
      <h3 class="h3">
        Make sure that that you doublecheck that the spotify song is published
        in the correct year it was released! e.g <b>Remastered </b>etc
      </h3>
    </div>
    <ng-container *ngIf="isLoading">
      <mat-spinner color="accent"></mat-spinner>
    </ng-container>
    <div class="example-flex-container">
      <div class="example-button-container">
        <button
          mat-fab
          (click)="clipboard()"
          color="accent"
          aria-label="Example icon button with a delete icon"
        >
          <mat-icon>content_paste</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button
          mat-fab
          (click)="generate('qrlist')"
          color="accent"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </div>
    </div>
    <div class="test" id="qrlist" #lists>
      <mat-card *ngFor="let list of dataList" class="example-card">
        <div class="testarn1">
          <h3>
            Artist : {{ list.track.album.artists[0].name }}
            {{ list.track.album.artists[1]?.name }}
          </h3>
        </div>
        <div class="lal">
          <h3>Song : {{ list.track.name }}</h3>
        </div>

        <qrcode
          [qrdata]="list.track.external_urls.spotify"
          [width]="180"
          [errorCorrectionLevel]="'L'"
        ></qrcode>
        <div class="testarn">
          relase date :
          {{ list.track.album.release_date | date : "yyyy" }}
        </div>
      </mat-card>
    </div>
  </div>
</div>
